
.headerManager{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
}
.headerForm{
    margin: 0 5%;
    width: 18%;
}
.managerSubmit{
    width: 100%;
    height: 100%;
    padding: 0.8em;
    white-space: normal;
}


.flight{
    border-bottom: solid 2px #0AA1DD;
    display: flex;
    flex-direction: row;
    background-color: #E8F9FD;
}
.flightData{
    margin: 2%;
    width: 70%;
    box-shadow: -5px 5px 5px rgba(64,64,64,196);
}
.flightEntity{
    padding: 1% 2%;
    width: 96%;
    border: solid 1px #0AA1DD;
}
.warning{
    color: red;
}
.bold{
    font-weight: bold;
}

.actions{
    width: 25%;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flightForm{
    align-items: center;
    padding: 4%;
    width: 97%;
    height: 42%;
}
.flightSubmit{
    font-size: 1.3em;
    width: 100%;
    height: 100%;
}
